<header>
  <h1>Fine <span class="art">Art</span> Prints For Every Fine <span class="art">Art</span> Taste</h1>
</header>
<article class="row">
  <section class="col-10 offset-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 about-info">
    <p>
    There are many options when it comes to buying art for your home or place of business. Here at I HE<span class="art">ART</span> PRINTS we ensure that our taste and quality matches yours. Art is subjective, but ensuring your complete art-buying satisfaction is our objective.
    </p>
  </section>
</article>
