<header class="contact-head">
  <h1>Keep Us Posted...</h1>
</header>
<article class="ul-list">
  <ul class="contact-ul">
    <div class="address">
      <li>555 Some Madeup St.<br>
        Phoenix, AZ 85012
      </li>
    </div>
    <div class="email">
      <li>ihe<span class="art">art</span>prints@example.com</li>
    </div>
    <div class="ph-num">
      <li> 602-555-5000</li>
    </div>
  </ul>
</article>
