<main class="container-fluid">
  <div class="panel panel-default row">
    <div class="panel-body col-10 offset-1 col-lg-8 offset-lg-2">
      <h1 class="thanku-header">Thank You!</h1>
      <p class="thanku-message">We have received your message and will respond as soon as possible.</p>
      <%= link_to 'Back to Products Page', products_path, class: "thanku-back-link" %>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</main><!-- end .container-fluid -->
