// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ************* Orders Page ************ //
.order-header {
  font-size: 2.6em;
}
.orders-p {
  font-size: 1.6em;
  line-height: 1.4em;
}
.orders-image {
  width: 200px;
  height: auto;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 8px solid rgb(230,230,230);
}
.orders-price {
  font-size: 1.6em;
}
.orders-box {
  padding: 0 30px;
}

// ************ Orders Show Page *********** //
.orders-back {
  margin-top: 2em;
  font-size: 1.6em;
  color: rgb(98,98,98);
}
