// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************ Products Index page **************/

@mixin dropshadow {
  -webkit-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
   	 -moz-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
     	 -o-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
					text-shadow: 2px 2px 8px rgba(0,0,0,.12);
}

@mixin new-show-back-links {
  font-size: 1.7em;
  color: rgb(100,100,100);
}

.products-header {
  margin-top: 26px;
  text-align: center;
  h1 {
    margin-bottom: 16px;
    font-size: 40px;
  }
  p {
    margin-bottom: 0;
    font-size: 19px;
    line-height: 26px;
  }
}

.records {
  position: relative;
    .gaps {
      margin-top: 22px;
    }
    .center-data-div {
      display: block;
      min-height: 570px;
      max-width: 368px;
      margin: 0 auto;
    }
    .product-header2 {
      @include dropshadow;
      margin-left: 8px;
      color: rgb(245, 156, 131);
      font-size: 25px;
    }
    .img-txt-bg {
      margin-top: 26px;
    }
    .print-image {
      @include dropshadow;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border: 10px solid rgb(230,230,230);
    }
    .print-image:hover {
      border: 11px solid rgb(255,255,255);
      -webkit-text-shadow: 5px 8px 15px rgba(0,0,0,.3);
       	 -moz-text-shadow: 5px 8px 15px rgba(0,0,0,.3);
         	 -o-text-shadow: 5px 8px 15px rgba(0,0,0,.3);
    					text-shadow: 5px 8px 15px rgba(0,0,0,.3);
    }
    .p-description {
      margin-top: 14px;
      margin-bottom: 15px;
      padding: 0 2px;
      font-size: 1.12em;
      text-align: left;
      line-height: 1.65em;
      letter-spacing: .4px;
    }
    .price {
      @include dropshadow;
      max-width: 100%;
      margin-right: 0;
      padding: 7px 34px 7px 0;
      font-size: 16px;
      background-color: rgba(240,240,240,.87);
      color: rgb(252, 117, 84);
      text-align: right;
    }
    /* crud-links only for admin */
    .crud-links {
      margin-top: 18px;
      margin-left: 12px;
      font-size: 18px;
      .link-word {
        margin-right: 6px;
        color: rgb(100,100,100);
      }
    }
     @media screen and (min-width: 768px) {
       .gaps {
         margin-top: 38px;
         padding: 0 2.8%;
       }
       .product-header2 {
         margin-left: 6px;
         font-size: 28px;
       }
      .img-txt-bg {
        min-height: 640px;
      }
      .p-description {
        line-height: 1.58em;
      }
       .price {
         max-width: 319px;
         padding-right: 28px;
       }
     }

     @media screen and (min-width: 992px) {
       .gaps {
         margin-top: 66px;
         padding: 0 1.2%;
       }
       .product-header2 {
         margin-left: 4px;
         font-size: 24px;
       }
       .img-txt-bg {
         min-height: 576px;
         margin-top: 0;
       }
       .price {
         padding-right: 20px;
       }
    }
}
/* new-product-link only for admin */
.new-product-link {
  display: block;
  margin-top: 50px;
  margin-left: 16px;
  font-size: 1.8em;
  color: rgb(100,100,100);
}

.bottom-space {
  height: 120px;
}

@media screen and (min-width: 768px) {
  .products-header {
    margin-top: 20px;
    h1 {
      font-size: 47px;
    }
    p {
      font-size: 20.8px;
    }
  }
}

@media screen and (min-width: 992px) {
  .products-header {
    margin-top: 26px;
    h1{
      font-size: 52px;
    }
    p {
      font-size: 26px;
    }
  }
}

/************ _Form New/Edit Products ***************/
.btn input {
  margin-top: 14px;
  margin-left: -12px !important;
  padding: 4px 9px;
  color: rgb(110,110,110);
  border-radius: 6px ;
  background-color: rgb(235,235,235);
}

/************** Products New Page ****************/
.edit-new-h1 {
  font-size: 2.6em;
}
.new-back-link {
  @include new-show-back-links
}

@media screen and (min-width: 768px) {
  .edit-new-h1 {
    font-size: 3.6em;
  }
}

/************ Products Edit Page ****************/
.show-back-links {
  margin-right: 22px;
  @include new-show-back-links
}

/************** Products Show Page ***************/
.show-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}
.show-text strong {
  font-size: 18px;
  color: rgb(255,173,153);
  @include dropshadow
}
.products-show-image {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
  border: 6px solid rgb(230,230,230);
}
.average-rating-block {
  font-size: 16px;
  color: rgb(255,173,153);
}
.pay-btn form {
  margin-top: 22px;
}
.footer-space {
  height: 86px;
}
.alert.alert-info {
  background: none;
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .show-text {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 30px;
  }
  .show-text strong {
    font-size: 26px;
  }
  .products-show-image {
    width: 200px;
    height: auto;
    border: 8px solid rgb(230,230,230);
  }
}

@media screen and (min-width: 992px) {
  .products-show-image {
    width: 220px;
    height: auto;
  }
  .average-rating-block {
    font-size: 20px;
  }
}
