// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************ Products page **************/

@mixin dropshadow {
  -webkit-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
   	 -moz-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
     	 -o-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
					text-shadow: 2px 2px 8px rgba(0,0,0,.12);
}

.products-header {
  margin-top: -26px;
}

.records {

  h2 {
    @include dropshadow;
    margin-top: 54px;
    color: rgb(245, 156, 131);
    font-size: 2.3em;
    text-align: center;
  }
  .img-txt-bg {
    height: 550px;
    width:100%;
  }
  .print-image {
    @include dropshadow;
    display: block;
    max-width: 96%;
    height: auto;
    margin: 6px auto 0 auto;
    border: 11px solid rgb(230,230,230);
  }
  p {
    margin-top: 24px;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.5em;
  }
  .price {
    @include dropshadow;
    padding: 4px 14px;
    background-color: rgba(240,240,240,.9);
    color: rgb(252, 117, 84);
  }
  .crud-links {
    margin-top: 0;
    margin-left: 6px;
    font-size: 1.3em;
  }

  @media screen and (min-width: 992px) {
    h2 {
      text-align: left;
    }
    .print-image {
      margin-left: 0;
    }
  }
}

.new-product-link {
  display: block;
  margin-top: 50px;
  margin-left: 16px;
  font-size: 1.6em;
}

.bottom-space {
  height: 120px;
}

/************ New Products Page ***************/
form {
  width: 21%;
  margin: 50px auto;
}
div.actions {
  margin-top: 22px;
}