// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin dropshadow {
  -webkit-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
   	 -moz-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
     	 -o-text-shadow: 2px 2px 8px rgba(0,0,0,.12);
					text-shadow: 2px 2px 8px rgba(0,0,0,.12);
}

// ***************** Landing page ********************** //

#featured-paintings {
  @include dropshadow;
  margin-top: -42px;
  margin-bottom: .5em;
  text-align: center;
  font-size: 2.4em;
  color: rgb(255, 180, 160);
}

.carousel-inner {
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .carousel-caption {
    @include dropshadow;
    margin-bottom: 40px !important;
    font-size: 3em !important;
    line-height: 1em;
  }
}

@media screen and (min-width: 768px) {
  #featured-paintings {
    margin-bottom: 1em;
    font-size: 3.6em;
  }

}
@media screen and (min-width: 992px) {
  #featured-paintings {
    margin-bottom: 1em;
    font-size: 4em;
  }
}

// **************** Home Page Styles (local) ****************
header {
  h1 {
    margin-bottom: 0;
    font-size: 44px;
    letter-spacing: .02em;
    text-align: center;
  }
  p {
    margin-top: .6em;
    font-size: 22px;
    text-align: center;
    line-height: 1.2em;
  }
}

.app-image {
  display: block;
  width: auto;
  height: 24em;
  margin: 2em auto;
  border: 18px solid rgb(230,230,230);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
   	 -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
     	 -o-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
					box-shadow: 2px 2px 4px rgba(0,0,0,.15);
}

@media screen and (min-width: 768px) {
  p {
    font-size: 23px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 51px;
  }
  p {
    font-size: 30px;
  }
  .app-image {
    margin-top: 4.4em;
  }
  #vangogh {
    padding-left: 0;
  }
  #millet {
    padding-left: .1em;
  }
  #picasso {
    padding-left: 2.1em;
  }
  #rothko {
    padding-left: 3.4em;
  }
  #mona-lisa {
    padding-left: 1.3em;
  }
}

// ******************* About Page *****************
.about-info {
  h1 {
    font-size: 1.6em;
  }
  p {
    margin-top: 3em;
    //margin-bottom: 6em;
    font-size: 1.25em;
    text-align: left;
    line-height: 1.6em;
  }
}
@media screen and (min-width: 768px) {
  .about-info {
    h1 {
      font-size: 2.2em;
    }
    p {
      margin-top: 4em;
      font-size: 1.35em;
      line-height: 2em;
    }
  }
}
@media screen and (min-width: 992px) {
  .about-info {
    h1 {
      font-size: 2.8em;
    }
    p {
      margin-top: 4.2em;
      font-size: 1.8em;
      line-height: 2.2em;
    }
  }
}


// ***************** Contact Page *******************
.contact-head h1 {
  margin-left: -20px;
  font-size: 2.2em;
}
.contact-ul li {
  padding-left: .6em;
  font-size: 18px;
  list-style: none;
  line-height: 1.3em;
}
.ul-list {
  margin-top: 3.2em;

}
.address {
  margin-bottom: 1.4em;
}
.email {
  margin-bottom: 1.4em;
  letter-spacing: .03em;
}

@media screen and (min-width: 768px) {
  .main-box {
    margin-top: 110px;
  }
  .contact-head h1 {
    margin-left: 0;
    font-size: 3.2em;
  }
  .contact-ul li {
    margin-left: 180px;
    font-size: 27px;
  }
  .ul-list {
    margin-top: 4em;
  }
}

@media screen and (min-width: 992px) {
  .main-box {
    margin-top: 130px;
  }
  .contact-head h1 {
    margin-left: -30px;
    font-size: 3.9em;
  }
  .contact-ul li {
    margin-left: 725px;
    font-size: 28px;
  }
  .ul-list {
    margin-top: 5em;
  }
}
