<div class="product-reviews">
  <p class="comment-intro">What members have said about this product:</p>
  <hr class="comments-border">
  <div class="ajax-comment-response">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @comments %>
  </div>
</div><!-- end .product-review -->
