<p id="notice"><%= notice %></p>

<header class="products-header">
  <h1>I HE<span class="art">ART</span> PRINTS</h1>
  <p>The go-to site for a comprehensive catalogue of fine art prints</p>
</header>

<div class="container-fluid">
  <div class="row records">
    <%= render @products %>
  </div>

  <br>

  <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path, :class => "new-product-link" %>
  <% end %>

  <div class="bottom-space"></div>
</div>
